[Meta]
bCBAS_Enabled = true		; For convenience: setting to false disables all functionality (except loading up and checking this file)

; The following are ratios from 0-1 for how much each component affects attack speed
; 0 means no penalty comes from this component
; all set to 0 means attack speed is always as fast as possible (this is much faster than vanilla)
[Components]
fCBAS_Fatigue=1.0			; Fatigue: As fatigue drops below fCBAS_FatigueThreshold (see [Settings]), penalty to attack speed starts ramping up
fCBAS_Encumbrance=1.0		; Encumbrance: Carrying more means slower attack. A focus on Weight of Hand & UpperBody armor can be configured below
fCBAS_Skill=1.0				; Skill: Lower Blade skill means you attack slower with blades etc.
fCBAS_Attribute=1.0			; Attributes: Slower attacks if- Low Strength with meleee weapons, Agility with Bows, Int&Will with staffs
fCBAS_Speed=1.0				; Speed: Hmmmm...

[Settings]
fCBAS_FatigueThreshold=1.0			; Ratio below which fatigue starts affecting attack speed. 1.0 is at full fatigue, 0.0 is empty fatigue
fCBAS_LocalisedEncumbrance=0.75		; Ratio of how much more important armor on Hands & UpperBody is to attack speed versus total encumbrance. 1.0 means total encumbrance is not important at all, only hand/chest armor is incorporated.